#Hud
{
	font-size:	3vmin;
	color: #ffffff;
}

/* start debug hidden */
#Debug
{
	visibility:	hidden;
}

#Logo
{
	visibility:	inherit;
}

#Hint_Start
{
	visibility:	hidden;
}

/* start experience stuff hidden */
#Experience
{
	visibility:	hidden;
}

#AudioMusic
{
	display:	block;
	position:	absolute;
	top:	10vh;

}

#AudioVoice
{
	display:	block;
	position:	absolute;
	top:	14vh;
	xbackground-color:	red;

}

#TitleText
{
	display:	block;
	position:	absolute;
	left:		10vw;
	top:		1vw;
	xbackground-color:	red;
	width:		80vw;
	height:		80vh;
	font-size:	30vmin;
	line-height:	24vh;

	text-align:	center;
	font-weight: bold;
	display:			flex;
	align-items:		center;
	justify-content:	center;
}

#SubtitleLabel
{
	background-color:	rgba(255, 0, 0, 0.34);

	position:		absolute;
	left:			10vw;
	top:			80vh;
	width:			80vw;
	height:			5vh;
	font-size:		3vh;
	
	text-align:			center;
	display:			flex;
	align-items:		center;
	justify-content:	center;
}

#Stats
{
	font-size:		2vh;
	line-height:	3vh;
	position:		absolute;
	right:			1vw;
	top:			5vh;
	width:			23vh;
	height:			15vh;
	background-color:	blue;
}

#About
{
	font-size:		1.5vh;
	line-height:	3vh;
	position:		absolute;
	right:			1.5vw;
	top:			5vh;
	width:			23vh;
	height:			15vh;
	text-align: right;

}

#Stats div
{
	overflow:	hidden;
}

#Hint_Start
{
	/* put on top of the rest of the hud so it's clickable */
	z-index:	2;

	display:	block;
	position:	absolute;
	left:		48.5vw;
	top:		79.35vh;
	width:		2.8vw;
	height:		4vh;
	font-size:	1.5vh;
	padding: 0.3em;
	

	text-align:	center;
	
	display:			flex;
	align-items:		center;
	justify-content:	center;

	border-radius: 0.7em;
  	border: 0.1em solid white;
}

#Hint_Headphones
{
	visibility: hidden;
	display: block;
	position: absolute;
	left: 10vw;
	top: 80vh;
	width: 80vw;
	height:	5vh;
	font-size: 2vh;
	text-align:	center;
	
	display:			flex;
	align-items:		center;
	justify-content:	center;
}



#IconHeadphones
{
	visibility: hidden;
	display: block;
	position: absolute;
	left: 49.5vw;
	top: 86vh;
	width:1vw;
	height:	5vh;
}

#IconSubtitles
{
	display: block;
	position: absolute;
	left: 0.8vw;
	top: 3vh;
	width:1vw;
	height: 1vh;
	align-items:		left;
	justify-content:	left;
}

#IconSubtitles_Enable
{
	display: block;
	position: absolute;
	left: 0.85vw;
	top: 3vh;
	width:1vw;
	height: 1vh;
	align-items:		left;
	justify-content:	left;
}

#IconSubtitles_Disable
{
	display: block;
	position: absolute;
	left: 0.85vw;
	top: 3vh;
	width:1vw;
	height: 1vh;
	align-items:		left;
	justify-content:	left;
}

#Subtitle_Line
{
	display: block;
	position: absolute;
	left:2vw;
	top:6vh;
	width:4vw;
	height:	0.1em;
	background: white;
}

#SubIconText
{
	font-size:		1.5vh;
	line-height:	3vh;
	position:		absolute;
	left:			2.5vw;
	top:			3.8vh;
	width:			30vh;
	height:			15vh;
	text-align: left;

}

/* This is for Mobile */
#Hint_TapAnimal
{
	visibility: hidden;
	display:	block;
	position:	absolute;
	left:		45vw;
	xxxtop:		45vh;
	width:		9.3vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(/Web/icons/Mobile_Animal.svg) no-repeat 8% 50%;
	background-size: 3vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;

}
/* This is for Desktop */
#Hint_ClickAnimal
{
	display:	block;
	position:	absolute;
	left:		45vw;
	xxxtop:		45vh;
	width:		9.3vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(/Web/icons/Desktop_Animal.svg) no-repeat 8% 50%;
	background-size: 3.8vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#Hint_DragTimeline_Mobile
{
	visibility: hidden;
	display:	block;
	position:	absolute;
	left:		45vw;
	xxxtop:		45vh;
	width:		9vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(/Web/icons/Mobile_Timeline.svg) no-repeat 8% 50%;
	background-size: 3.8vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#Hint_DragTimeline_Desktop
{
	display:	block;
	position:	absolute;
	left:		45vw;
	xxxtop:		45vh;
	width:		9.3vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(/Web/icons/Desktop_Timeline.svg) no-repeat 8% 50%;
	background-size: 5vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#Hint_TouchToInteract
{
	visibility: hidden;
	display:	block;
	position:	absolute;
	left:		46vw;
	xxxtop:		45vh;
	width:		6.5vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(/Web/icons/Mobile_Swirls.svg) no-repeat 10% 50%;
	background-size: 6vh;

	display: flex;
	align-items: center;

	padding: 30px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#AnimalCard
{
	xxbackground:green;
	display:	block;
	position:	absolute;
	left:		13vw;
	top:		10vw;
	width:		50vh;		/* use height or width but dont mix */
	height:		20vh;
	text-align:	left;
}

#AnimalCard_Title
{
	letter-spacing: 0.07vw;	/* use of viewport width! */
	xxbackground: blue;
	font-weight:	bold;
	font-size:		2.2vh;
	height:			4vh;
	padding-left:	2vh;
	border-bottom:	0.40vh solid white;
}

#AnimalCard_Description
{
	margin-top:		2vh;
	height:			16vh;	/* #AnimalCard height - title */
}

#AnimalCard_Description h1, #AnimalCard_Description h2
{
	letter-spacing: 0.07vw;	/* use of viewport width! */
	height:			7vh;
	xxxbackground:		red;
	/* remove h1 & h2 default styles */
	padding:		0px;
	margin:			0px;
	font-size:		1.8vh;
	font-weight:	300;
	margin-bottom:	1vh;
	padding-left:	2vh;	/* space for bullet */

	background-color:	rgba(0, 0, 0, 0.40);
	background-image:	url(/Web/icons/bullet.svg);
	background-repeat:	no-repeat;
	background-size:	0.5vh;
	background-position:	0.0vh 1.2vh;
}

#Continue
{
	xxbackground: yellow;
	display: block;
	position: absolute;
	left: 11.7vw;
	top: 26vh;
	width:4vw;
	font-weight: 300;
}

#Next
{
	xxbackground: magenta;
	display: block;
	position: absolute;
	left: 12.5vw;
	top: 25.8vh;
	width:2vw;
	align-items: right;
	font-size:	1.5vh;
	letter-spacing: 0.07vw;


}

#Solution
{
	display: block;
	position: absolute;
	background-color:	rgba(0, 0, 0, 0.40);
	top: 0vh;
	width: 100vw;

	display: flex;
	justify-content: center;
}

#Solution_Title
{
	display: block;
	position: absolute;
	top: 35vh;
	left:0vw;
	width: 100vw;
	height: 10vh;
	font-size: 1.5vh;
	text-align: center;

	display: flex;
	justify-content: center;
}

#Solution_Tips
{
	top: 50vh;
	left:20vw;
	width: 80vw;
	height: 5vh;
	font-size: 1.5vh;
	text-align: center;

	display: flex;
	justify-content: center;
}

#Solution_TipsImg
{
	top: 30vh;
	left:20vw;
	width: 80vw;
	height: 5vh;

	display: flex;
	justify-content: center;
}

#Solution_WorldText
{
	display: block;
	position: absolute;
	top: 70vh;
	left:0vw;
	width: 100vw;
	font-size: 1.5vh;
	text-align: center;

	display: flex;
	justify-content: center;
}
#Solution_WorldImg
{
	display: block;
	position: absolute;
	top: 75vh;
	left:45vw;
	width: 5vw;
	height: 5vh;
}

#Music
{
	/* position me */
}

/* currently playing track */
#MusicLabel
{
	font-size:	10vh;
}

#Year
{
	/* position me */
	display:	block;
	position:	absolute;
	top:	18vh;
}

/* Current year */
#YearLabel
{
	font-size:	10vh;
}

/* slider http://danielstern.ca/range.css/#/ */
/* I'm not sure this is visible in all screen sizes... */
#Timeline
{
	display:	flex;
	position:	absolute;
	/* crtq: don't think this is in the middle in every screen */
	left:		10vw;
	xxbottom:		5vh;
	top:		88vh;
	width:		80vw;
	height:		3vh;

	/* layout with flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

	flex-wrap:	wrap;
	justify-content:	center;
	align-items:	stretch;
	overflow:		hidden;
	
}

#YearStart
{
	display: block;
	position: absolute;
	flex-grow: 0;
	left: 8vw;
	top: 91vh;
	width: 4vw;
	text-align:	center;
	background-color: rgba(0, 0, 0, 0.15);
	font-size:	2vmin;
	
	/*	gr: not working */
	vertical-align:	middle;
	xheight: 9vh;	/* need height to vertically align */

}

#YearEnd
{
	display: block;
	position: absolute;
	flex-grow: 0;
	right: 7.6vw;
	top: 91vh;
	width: 4vw;
	text-align:	center;
	background-color: rgba(0, 0, 0, 0.15);
	font-size:	2vmin;
	
	/*	gr: not working */
	vertical-align:	middle;
	xheight: 9vh;	/* need height to vertically align */

}


#YearSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 20.75px 0;
}
#YearSlider:focus {
  outline: none;
}
#YearSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
  background: #ffffff;
  border-radius: 4.2px;
  border: 0px solid #010101;
}
#YearSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #ffffff;
  height: 15px;
  width: 5px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.75px;
}
#YearSlider::-webkit-slider-runnable-track {
  background: #ffffff;
}
#YearSlider::-moz-range-track {
  width: 100%;
  height: 0.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
  background: #ffffff;
  border-radius: 4.2px;
  border: 0px solid #010101;
}
#YearSlider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #ffffff;
  height: 15px;
  width: 5px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}
#YearSlider::-ms-track {
  width: 100%;
  height: 0.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#YearSlider::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid #010101;
  border-radius: 8.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
}
#YearSlider::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #010101;
  border-radius: 8.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01), 0px 0px 1px rgba(13, 13, 13, 0.01);
}
#YearSlider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #ffffff;
  height: 15px;
  width: 5px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  height: 1.5px;
}
#YearSlider:focus::-ms-fill-lower {
  background: #ffffff;
}
#YearSlider:focus::-ms-fill-upper {
  background: #ffffff;
}

#Debug_VisibleActors, #Debug_RenderedActors, #Debug_FrameRate, #Debug_RenderStats
{
	z-index: 999;
	background: black;
	font-size: 20pt;
	opacity:0.6;
	width:	22vw;
}

