a, a:active, a:hover, a:visited
{
	color:	#ffffff;
	text-decoration:	none;
}



a:hover
{
	color:	#ffffff;
	font-weight: bold;
}

/* Stuff that needs to be on top of the experience */
#Ui, #PauseButton, #Hint_Start, #Hint_StartXr
{
	z-index:	902;
}

#Ui
{
	position:	absolute;
	height:		90vh;
	font-size:		2.5vh;
	
}

#Hud
{
	font-size:	3vmin;
	color: #ffffff;
	xbackground:	red;
	xheight:100vh;
}

/* start debug hidden */
#Debug
{
	visibility:	hidden;
}

#Logo
{
	visibility:	hidden;
}

/* start experience stuff hidden */
#Experience
{
	visibility:	hidden;
}

/* thing at the end */
#Solution
{
	visibility:	hidden;
}

#Hint_StartXr
{
	visibility:	hidden;
}

#Hint_Start
{
	visibility:	hidden;
}


#AudioMusic
{
	display:	block;
	position:	absolute;
	top:	10vh;

}

#AudioVoice
{
	display:	block;
	position:	absolute;
	top:	14vh;
	xbackground-color:	red;

}

#TitleText
{
	display:	block;
	position:	absolute;
	left:		10vw;
	top:		1vw;
	xbackground-color:	red;
	width:		80vw;
	height:		80vh;
	font-size:	30vmin;
	line-height:	24vh;

	text-align:	center;
	font-weight: bold;
	display:			flex;
	align-items:		center;
	justify-content:	center;
}

#SubtitleLabel
{

	position:		absolute;
	left:			22.5vw;
	top:			45vh;
	width:			55vw;
	height:			5vh;
	font-size:		2.5vh;
	
	text-align:			center;
	display:			flex;
	align-items:		center;
	justify-content:	center;
}


#SubtitleSkip
{
	position:		absolute;
	right:			2.5vw;
	top:			90vh;
	width:			10vw;
	xxxheight:			5vh;
	font-size:		1.5vh;
	
	xxxtext-decoration:	underline;
	
	text-align:			center;
	display:			flex;
	align-items:		center;
	justify-content:	center;
}

/* temporarily disabled until implemented */
#Next_Text, #Prev_Text
{
	display:	visible;
}

#Next_Text
{
	position:		absolute;
	right:			22vw;
	top:			53vh;
	width:			10vw;
	xxxheight:			5vh;
	font-size:		1.5vh;
	
	text-decoration:	underline;
	
	text-align:			center;
	background:     url(icons/arrow_right.svg) no-repeat;
	background-size: 1.5vh;
	background-position:	right top;
}

#Prev_Text
{
	position:		absolute;
	left:			23vw;
	top:			53vh;
	width:			10vw;
	xxxheight:			5vh;
	font-size:		1.5vh;
	
	text-decoration:	underline;
	
	text-align:			center;
	background:     url(icons/arrow_left.svg) no-repeat;
	background-size: 1.5vh;
	background-position:	left top;
}

#LogoBg
{
	display:	block;
	position:	absolute;
	width:		100vw;
	height:		100vh;
	background-image:		url(icons/LogoBG.png);
	background-repeat:		no-repeat;
	background-size:		contain;
	background-position:	center center;

}

#Stats
{
	font-size:		2vh;
	line-height:	3vh;
	position:		absolute;
	right:			1vw;
	top:			5vh;
	width:			23vh;
	height:			15vh;

}

#AboutButton
{
	xxxbackground:	blue;
	font-size:		1.5vh;
	line-height:	3vh;
	position:		absolute;
	left:			2vw;
	top:			5vh;
	width:			23vh;
	height:			5vh;
	text-align: left;
}

#PauseButton
{
	position:		absolute;
	left:			2vw;
	top:			10vh;
	width:			23vh;
	height:			5vh;
}

/* make background bigger on hover*/
#PauseButton:hover span
{
	xbackground:red;
	background-size:	auto 120%;
}

#PauseLabel, #ResumeLabel
{
	background-size:	auto 100%;
	font-size:		0;		/* Hide the text */
	pointer-events:	none;	/* let clicks fall through to parent */
	position:		absolute;
	top:			0px;
	bottom:			0px;
	right:			0px;
	left:			0px;
}


#PauseLabel
{
	background:     url(icons/pause.svg) no-repeat;
	xxbackground-color:	red;
}

#ResumeLabel
{
	visibility:		hidden;	/* Toggled in code - overridden on style ON element */
	background:     url(icons/play.svg) no-repeat;
	xxbackground-color:	lime;
}


#Stats div
{
	overflow:	hidden;
}

#Hint_Start, #Hint_StartXr
{
	display:	block;
	position:	absolute;
	left:		48.5vw;
	top:		79.35vh;
	width:		4.5vw;
	height:		4vh;
	font-size:	1.5vh;
	padding: 0.3em;
	

	text-align:	center;
	
	display:			flex;
	align-items:		center;
	justify-content:	center;

	border-radius: 0.7em;
  	border: 0.1em solid white;
}

#Hint_StartXr
{
	top:		74.35vh;
}

#Hint_Headphones
{
	visibility: hidden;
	display: block;
	position: absolute;
	left: 10vw;
	top: 80vh;
	width: 80vw;
	height:	5vh;
	font-size: 2vh;
	text-align:	center;
	
	display:			flex;
	align-items:		center;
	justify-content:	center;
}



#IconHeadphones
{
	visibility: hidden;
	display: block;
	position: absolute;
	left: 49.5vw;
	top: 86vh;
	width:1vw;
	height:	5vh;
}

#IconSubtitles
{
	display: block;
	position: absolute;
	left: 0.8vw;
	top: 3vh;
	width:1vw;
	height: 1vh;
	align-items:		left;
	justify-content:	left;
}

#IconSubtitles_Enable
{
	display: block;
	position: absolute;
	left: 0.85vw;
	top: 3vh;
	width:1vw;
	height: 1vh;
	align-items:		left;
	justify-content:	left;
}

#IconSubtitles_Disable
{
	display: block;
	position: absolute;
	left: 0.85vw;
	top: 3vh;
	width:1vw;
	height: 1vh;
	align-items:		left;
	justify-content:	left;
}

#Subtitle_Line
{
	display: block;
	position: absolute;
	left:2vw;
	top:6vh;
	width:4vw;
	height:	0.05em;
	background: white;
}

#SubIconText
{
	font-size:		1.5vh;
	line-height:	3vh;
	position:		absolute;
	left:			2.5vw;
	top:			3.8vh;
	width:			30vh;
	height:			15vh;
	text-align: left;

}

/* This is for Mobile */
#Hint_TapAnimal
{
	visibility: hidden;
	display:	block;
	position:	absolute;
	left:		40vw;
	xxxtop:		45vh;
	width:		16vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(icons/Mobile_Animal.svg) no-repeat 8% 50%;
	background-size: 3vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;

}
/* This is for Desktop */
#Hint_ClickAnimal
{
	display:	block;
	position:	absolute;
	left:		40vw;
	top:		40vh;
	width:		16vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(icons/Desktop_Animal.svg) no-repeat 8% 50%;
	background-size: 3.8vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#Hint_DragTimeline_Mobile
{
	visibility: hidden;
	display:	block;
	position:	absolute;
	left:		40vw;
	xxxtop:		45vh;
	width:		16vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(icons/Mobile_Timeline.svg) no-repeat 8% 50%;
	background-size: 3.8vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#Hint_DragTimeline
{
	display:	block;
	position:	absolute;
	left:		40vw;
	top:		40vh;
	width:		16vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(icons/Desktop_Timeline.svg) no-repeat 8% 50%;
	background-size: 5vh;

	display: flex;
	align-items: center;

	padding: 32px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#Hint_TouchToInteract
{
	visibility: hidden;
	display:	block;
	position:	absolute;
	left:		46vw;
	xxxtop:		45vh;
	width:		10vw;
	height:		4vh;
	font-size:	2vh;
	justify-content:	flex-end;
	background: rgba(0, 0, 0, 0.65) url(icons/Mobile_Swirls.svg) no-repeat 10% 50%;
	background-size: 6vh;

	display: flex;
	align-items: center;

	padding: 30px;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;

  	border-radius: 25px;
}
#AnimalCard
{
	xxxvisibility:	visible !important;	/* forces on for testing */
	background:rgba(0, 0, 0, 0.75);
	display:	block;
	position:	absolute;
	left:		10vw;
	top:		14vh;
	width:		60vh;		/* use height or width but dont mix */
	xheight:		20vh;
	text-align:	left;
}

#AnimalCard_Title
{
	letter-spacing: 0.07vw;	/* use of viewport width! */
	xxbackground: blue;
	font-weight:	bold;
	font-size:		2.2vh;
	height:			4vh;
	padding-left:	2vh;
	border-bottom:	0.40vh solid white;
}

#AnimalCard_Description
{
	margin-top:		2vh;
}

#AnimalCard_Description h1, #AnimalCard_Description h2
{
	letter-spacing: 0.07vw;	/* use of viewport width! */
	xxxbackground:		red;
	/* remove h1 & h2 default styles */
	padding:		0px;
	margin:			0px;
	font-size:		1.8vh;
	font-weight:	300;
	margin-bottom:	1vh;
	padding-left:	2vh;	/* space for bullet */

	background-image:	url(icons/bullet.svg);
	background-repeat:	no-repeat;
	background-size:	0.5vh;
	background-position:	0.0vh 1.2vh;
}

#Continue
{
	background: rgba(0, 0, 0, 0.75);
	position:	absolute;
	right:		0vw;
	width:		17vw;
	height:		4vh;
	font-weight: 300;

	text-align:			right;
	xxtext-decoration:	underline;
	padding-right:		2vw;
	padding-top: 1vh;
	font-size:			1.5vh;
	letter-spacing:		0.07vw;

	background-image:	url(icons/Continue.svg);
	background-size:	17vw;
	background-repeat:	no-repeat;
	background-position: bottom;
}


#Solution
{
	overflow:hidden;

	xbackground:	red;

	position:	absolute;
	padding-top:	10vh;
	top:		22vh;
	left:		8vw;
	width:		84vw;
	height:		70vh;

	font-weight:	300;
	font-size:		1.5vh;
	text-align: center;
}

#Solution_Recycle		{	left:	0vw;	background-image:	url(icons/recycle.svg);	}
#Solution_Walk			{	left:	14vw;	background-image:	url(icons/bike.svg);	}
#Solution_CleanEnergy	{	left:	28vw;	background-image:	url(icons/wind.svg);	}
#Solution_EnergyEff		{	left:	42vw;	background-image:	url(icons/a.svg);	}
#Solution_EatLocal		{	left:	56vw;	background-image:	url(icons/organic.svg);	}
#Solution_GrowTree		{	left:	70vw;	background-image:	url(icons/plant.svg);	}

#Solution_Tips
{
	margin-top:	10vh;
	xbackground:	green;
	position:	relative;
	height:		20vh;
	font-weight:	bold;

	display:			flex;
	align-items:		center;
	justify-content:	center;
}

#Solution_Tips div
{
	position:	absolute;
	top:		0px;
	width:		14vw;
	height:		16vh;
	xbackground-color:	blue;
	xbackground-image:	url(icons/recycle.svg);
	background-repeat:	no-repeat;
	background-size:	25%;
	background-position:	center bottom;
}

#Solution_WorldText
{
	xbackground-color:	magenta;
	font-style:			italic;
	top: 25vh;
	height:				8vh;
}

#Solution_WorldIcon
{
	xbackground-color:	yellow;
	background-image:	url(icons/world.svg);
	height:				5vh;
	background-repeat:	no-repeat;
	background-size:	80% contain;
	background-position:	center bottom;
}

#Music
{
	/* position me */
}

/* currently playing track */
#MusicLabel
{
	font-size:	10vh;
}

#Year
{
	/* position me */
	display:	block;
	position:	absolute;
	top:	18vh;
}


/* slider http://danielstern.ca/range.css/#/ */
/* I'm not sure this is visible in all screen sizes... */
#Timeline
{
	display:	flex;
	position:	absolute;
	/* crtq: don't think this is in the middle in every screen */
	left:		10vw;
	xxbottom:		5vh;
	top:		88vh;
	width:		80vw;
	height:		3vh;

	/* layout with flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

	flex-wrap:	wrap;
	justify-content:	center;
	align-items:	stretch;
	overflow:		hidden;
	
}

#TimelineContainer
{
	xbackground:	red;
	position:	absolute;
	width:		80vw;
	left:		10vw;
	height:		15vh;
	top:		80vh;
	xoverflow:	hidden;
}

#YearSlider, #YearLabelBox
{
	margin:		0px;
	padding:	0px;
	position:	absolute;
	left:		0vw;
	top:		0vh;
	height:		8vh;
	width:		100%;
	xbackground:	yellow;
}
#YearLabelBox
{
	pointer-events:	none;
	z-index:	2;
	top:		6vh;
	xleft:		-8vw;
}

#YearLabel, #YearStart, #YearEnd
{
	pointer-events:		none;

	
}

#YearLabel
{
	border-radius:		1vw;
	text-align:		center;
	--FontHeight:	2vh;
	position:		absolute;
	width:			calc(4 * var(--FontHeight) * 1.0);
	margin-left:	calc(-1 * 4/2 * var(--FontHeight) * 1.0);	/* - halfwidth  to center */
	font-size:		var(--FontHeight);
	height:			calc( 1.2 * var(--FontHeight) );
	z-index:		2;
}

#YearStart, #YearEnd
{
	--FontHeight:	2vh;
	width:		calc( 4 * var(--FontHeight) );
	z-index:	1;
	position:	absolute;
	top:		-0.5vh;
	font-size:		var(--FontHeight);
	height:			calc( 2.2 * var(--FontHeight) );
}
#YearStart
{
	text-align:	left;
	left:		1vw;
}
#YearEnd
{
	text-align:	right;
	right:		1vw;
}

#YearSlider
{
	cursor: pointer;
	xbackground:	blue;
	-webkit-appearance:	none;

	background-color:	rgba(0, 0, 0, 0.05);
	border-radius:		1vw;
}


#YearSlider:focus
{
	outline: none;
}

#YearSlider::-webkit-slider-runnable-track
{
	height:			0.20vh;	/* same as #AnimalCard_Title border */
	min-height:		2px;
	
	background:		white;
	border:			none;
	box-shadow:		none;
	
}

#YearSlider::-webkit-slider-thumb
{
	margin-top:	-1vh;
	box-shadow:	none;
	border:		none;
	height:		2vh;
	width:		0.2vw;
	min-width:	2px;
	background:	white;
	cursor: pointer;
	-webkit-appearance: none;
}



#Debug_VisibleActors, #Debug_RenderedActors, #Debug_FrameRate, #Debug_RenderStats
{
	z-index: 901;
	background: black;
	font-size: 20pt;
	opacity:0.6;
	width:	22vw;
}

#AboutPage
{
	visibility:	hidden;
	position:	absolute;
	background:	black;
	opacity:	0.9;
	left:		4vw;
	width:		92vw;
	top:		4vh;
	height:		92vh;
	font-size:	10vh;
	text-align:	center;
	margin:		0px;
	padding-top:	30vh;
}
